<form
  [formGroup]="form"
  class="d-flex flex-column col-lg-6"
  (ngSubmit)="save()"
>
  <app-input
    placeholder="name"
    formControlName="name"
    label="name"
    class="col mb-5"
  />

  <app-blockchain-platform-selector
    formControlName="blockchainPlatform"
    class="col mb-5"
  />

  <div class="mb-5" formArrayName="clauses">
    <legend class="d-flex justify-content-between align-items-center w-100">
      <span>{{ 'clauses' | translate }}</span>
      <app-icon-button icon="add_circle" (click)="addClause()" tooltip="add" />
    </legend>

    <div
      *ngFor="let item of clauses.controls; let clauseIndex = index"
      [formGroupName]="clauseIndex"
      class="mb-3"
    >
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ 'clause' | translate }} {{ clauseIndex + 1 }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="d-flex align-items-center mb-5" style="gap: 8px">
          <app-input
            formControlName="name"
            placeholder="name"
            label="name"
            class="col"
          />

          <app-icon-button
            icon="delete"
            (click)="removeClause(clauseIndex)"
            tooltip="delete"
          />
        </div>

        <div class="mb-5" formArrayName="arguments">
          <legend
            class="d-flex justify-content-between align-items-center w-100"
          >
            <span>{{ 'arguments' | translate }}</span>
            <app-icon-button
              icon="add_circle"
              (click)="addArgument(clauseIndex)"
              tooltip="add"
            />
          </legend>

          <div
            *ngFor="
              let argument of $any(item.get('arguments')).controls;
              let argumentIndex = index
            "
            [formGroupName]="argumentIndex"
            class="mb-3"
          >
            <mat-expansion-panel class="w-100">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ 'argument' | translate }} {{ argumentIndex + 1 }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="d-flex align-items-center mb-5" style="gap: 8px">
                <app-input
                  formControlName="name"
                  placeholder="name"
                  label="name"
                  class="col"
                />

                <app-input
                  formControlName="type"
                  placeholder="type"
                  label="type"
                  class="col"
                />

                <app-icon-button
                  icon="delete"
                  (click)="removeArgument(clauseIndex, argumentIndex)"
                  tooltip="delete"
                />
              </div>
            </mat-expansion-panel>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>

  <app-file-uploader class="col mb-5" formControlName="files" />

  <app-button
    label="save"
    class="w-100"
    type="submit"
    [disabled]="form.invalid"
  />
</form>
