<form
  [formGroup]="form"
  class="d-flex flex-column col-lg-6 col-md-12"
  (ngSubmit)="save()"
>
  <app-input
    placeholder="Name"
    formControlName="name"
    label="name"
    class="col mb-5"
  />
  <app-blockchain-platform-selector
    formControlName="blockchainPlatform"
    class="col mb-5"
  />
  <app-input
    placeholder="Content"
    formControlName="content"
    label="content"
    class="col mb-5"
  />

  <app-button
    label="save"
    class="w-100"
    type="submit"
    [disabled]="form.invalid"
  />
</form>
