<mat-toolbar>
  <div class="toolbar-container">
    <div class="toolbar-left-container">
      <app-icon-button
        ariaLabel="close"
        [icon]="isCollapsed ? 'menu' : 'close'"
        (click)="toggleSadebar()"
        (keydown.enter)="toggleSadebar()"
      />
      <div>
        <app-breadcrumb [items]="breadcrumb" />
      </div>
    </div>
    <div class="d-flex align-items-center">
      <app-language-selector [(language)]="language" />
      @if (currentUser()?.photo) {
        <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
          <img
            [alt]="'Profile picture of ' + currentUser()?.name"
            [src]="currentUser()?.photo"
            height="24px"
            width="24px"
            style="
              object-fit: cover;
              object-position: center;
              border-radius: 50%;
            "
          />
        </button>
      } @else {
        <app-icon-button icon="account_circle" [matMenuTriggerFor]="menu" />
      }

      <mat-menu #menu="matMenu">
        <button mat-menu-item class="toolbar-right-menu" (click)="logout()">
          <app-icon icon="logout" />
          <span>{{ 'logout' | translate }}</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
