<mat-toolbar>
  <div class="toolbar-container">
    <div class="toolbar-left-container">
      <app-icon-button
        [icon]="isCollapsed ? 'menu' : 'close'"
        (click)="toggleSadebar()"
        (keydown.enter)="toggleSadebar()"
      />
      <div>
        <app-breadcrumb [items]="breadcrumb" />
      </div>
    </div>
    <div class="d-flex align-items-center">
      <app-language-selector [(language)]="language" />
      <app-icon-button icon="account_circle" tooltip="profile" [matMenuTriggerFor]="menu" />
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="toolbar-right-menu" (click)="logout()">
          <app-icon icon="logout" />
          <span>{{ 'logout' | translate }}</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
