@use './../../variables' as *;

.sidenav-container {
  height: calc(100vh - $toolbar-height);
}

mat-sidenav {
  padding-top: 8px;
  width: 250px;
  transition: width 0.3s ease;
  background-color: #333;
  color: white;
}

.sidenav-container app-icon {
  min-width: $sidenav-collapsed-width;
}

mat-sidenav.collapsed {
  width: $sidenav-collapsed-width;
}

mat-sidenav-content {
  padding: 0 4px;
}

.mat-drawer,
.mat-drawer-side {
  border-radius: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.menu-text {
  transition: opacity 0.3s ease;
}

mat-sidenav.collapsed .menu-text {
  display: none;
}

:host ::ng-deep .mat-drawer-inner-container {
  overflow: hidden;
}
