<mat-sidenav-container class="sidenav-container" autosize [hasBackdrop]="false">
  <mat-sidenav
    #sidenav
    [mode]="'side'"
    [opened]="true"
    [class.collapsed]="isCollapsed"
  >
    <ul>
      @for (item of items(); track item.icon) {
        <li tabindex="0" [routerLink]="item.url">
          <app-icon
            [icon]="item.icon"
            [tooltip]="isCollapsed ? (item.label | translate) : ''"
          />
          <span class="menu-text" *ngIf="!isCollapsed">{{
            item.label | translate
          }}</span>
        </li>
      }
    </ul>
  </mat-sidenav>
  <mat-sidenav-content><ng-content /></mat-sidenav-content>
</mat-sidenav-container>
