<mat-sidenav-container
  class="sidenav-container"
  [autosize]="autosize"
  [hasBackdrop]="false"
>
  <mat-sidenav
    #sidenav
    [mode]="mode"
    [opened]="opened"
    [class.collapsed]="isCollapsed"
  >
    <ul>
      @for (item of items(); track item.icon) {
        <li
          tabindex="0"
          [class.active]="currentIndex === $index"
          (click)="currentIndex = $index"
          [routerLink]="item.url"
        >
          <app-icon
            [icon]="item.icon"
            [tooltip]="isCollapsed ? (item.label | translate) : ''"
          />
          <span class="menu-text" *ngIf="!isCollapsed">{{
            item.label | translate
          }}</span>
        </li>
      }
    </ul>
  </mat-sidenav>
  <mat-sidenav-content><ng-content /></mat-sidenav-content>
</mat-sidenav-container>
