<form [formGroup]="form" class="mb-3 d-flex" style="gap: 8px" #filters>
  <app-input
    formControlName="id"
    label="id"
    type="number"
    [min]="1"
    class="col"
  />
</form>

<app-table
  [height]="tableHeight"
  [columns]="columns"
  [displayedColumns]="displayedColumns"
  [dataSource]="data"
  [total]="total"
  (loadMore)="scroll()"
  (sort)="sort($event)"
>
  <ng-template #actionsColumn>
    <div style="display: flex; justify-content: center; width: 100%">
      <app-icon-button
        icon="change_circle"
        tooltip="refresh"
        (click)="search()"
      />
      <a routerLink="./add">
        <app-icon-button icon="add_circle" tooltip="add" />
      </a>
      <app-icon-button icon="delete" tooltip="delete" (click)="deleteAll()" />
    </div>
  </ng-template>

  <ng-template #actionsRow let-element="element">
    <div style="display: flex; justify-content: center; width: 100%">
      <app-icon-button
        icon="content_paste_search"
        tooltip="results"
        (click)="openSmartContractExecutionDialog(element)"
      />
      <a [routerLink]="['./', element._id]">
        <app-icon-button icon="edit_square" tooltip="edit" />
      </a>
      <app-icon-button
        icon="delete"
        tooltip="delete"
        (click)="openDialog(element)"
      />
    </div>
  </ng-template>

  <ng-template #smartContractRow let-element="element">
    <span>
      {{ element.payload?.smartContract?.name }}
    </span>
  </ng-template>

  <ng-template #blockchainRow let-element="element">
    <span>
      {{ element.payload?.blockchain?.platform }}
    </span>
  </ng-template>

  <ng-template #succeededRow let-element="element">
    <div
      [attr.data-status]="element.status"
      [ngStyle]="{
        backgroundColor: (element.status | statusColor)
      }"
      style="height: 16px; width: 16px; border-radius: 50%"
    ></div>
  </ng-template>
</app-table>
