<form [formGroup]="form" class="mb-3 d-flex" style="gap: 8px" #filters>
  <app-input
    formControlName="id"
    label="id"
    type="number"
    [min]="1"
    class="col"
  />
  <app-input formControlName="name" label="name" class="col" />
</form>

<app-table
  [height]="tableHeight"
  [columns]="columns"
  [displayedColumns]="displayedColumns"
  [dataSource]="data"
  [total]="total"
  (loadMore)="scroll()"
  (sort)="sort($event)"
>
  <ng-template #actionsColumn>
    <div style="display: flex; justify-content: center; width: 100%">
      <a routerLink="./add">
        <app-icon-button icon="add_circle" tooltip="add" />
      </a>
    </div>
  </ng-template>
  <ng-template #actionsRow let-element="element">
    <div style="display: flex; justify-content: center; width: 100%">
      <a [routerLink]="['./', element._id]">
        <app-icon-button icon="edit_square" tooltip="edit" />
      </a>
      <app-icon-button
        icon="delete"
        tooltip="delete"
        (click)="openDialog(element)"
      />
    </div>
  </ng-template>
</app-table>
