<div
  class="table-container"
  appInfiniteScroll
  (scrolled)="scrollEvents.next()"
  [ngStyle]="{ height: height() }"
>
  <table
    mat-table
    matSort
    sticky
    [dataSource]="dataSource()"
    (matSortChange)="sortFn($event)"
  >
    @for (column of columns(); track column.id) {
      <ng-container [matColumnDef]="column.id">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          [disabled]="column.sortable === false"
          [ngStyle]="{ 'width.px': column.width }"
        >
          @if (column.columnType === 'TEMPLATE' && column.templateColumn) {
            <ng-container
              *ngTemplateOutlet="
                column.templateColumn;
                context: { $implicit: column }
              "
            />
          } @else {
            {{ column.label | translate }}
          }
        </th>
        <td mat-cell *matCellDef="let element">
          @if (column.rowType === 'DATETIME') {
            {{ element[column.id] | date: 'shortDate' : language }}
            {{ element[column.id] | date: 'shortTime' : language }}
          } @else if (column.rowType === 'TEMPLATE' && column.templateRow) {
            <ng-container
              *ngTemplateOutlet="
                column.templateRow;
                context: { column: column, element: element }
              "
            />
          } @else {
            {{ element[column.id] }}
          }
        </td>
      </ng-container>
    }

    <ng-container matColumnDef="total-description">
      <th
        mat-header-cell
        *matHeaderCellDef
        [attr.colspan]="displayedColumns().length"
      >
        @if (dataSource().length) {
          <small
            style="display: block"
            [style.textAlign]="isMobile ? 'left' : 'right'"
          >
            Exibindo {{ dataSource().length }} de
            {{ total() ?? 0 }} itens</small
          >
        }
      </th>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="['total-description']; sticky: true"
      style="height: 24px; line-height: 24px"
    ></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns(); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns()"></tr>
  </table>
</div>
